.main {
      min-height: calc(100vh - 180px);
}

.header{
      display: flex;
      justify-content: space-between;
}

.nav_item{
      margin: 0.1rem;
}

.nav_item_list{
      padding: 10px;
      display: flex;
      justify-content: flex-start;
      list-style: none;
}